[package]
name = "ludum-dare"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pollster = "0.2.5"
wgpu = { git = "https://github.com/gfx-rs/wgpu" }
winit = "0.26.1"
kiss-engine-wgpu = { path = "../kiss-engine-wgpu" }
log = "0.4.16"
bytemuck = { version = "1.8.0", features = ["derive"] }
env_logger = "0.9.0"
gltf = { version = "1.0.0" }
glam = { version = "0.20.3", features = ["bytemuck"] }
anyhow = "1.0.56"
rand = "0.8.5"
image = { version = "0.24.1", default-features = false, features = ["png"] }
